@font-face{
	font-family:'ethnocentric';
	src:url('assets/fonts/ethnocentric/ethnocentric_rg.ttf');
	src:url('assets/fonts/ethnocentric/ethnocentric_rg.ttf') format('truetype');
	src:url('assets/fonts/ethnocentric/ethnocentric_rg-webfont.woff') format('woff');
}

h2{
	font-size:38px;
	font-family:'ethnocentric';
}

.html{
	min-height:100%;
}

.post-date{
	background:#f4f4f4;
	padding:4px;
	margin:3px 0;
	display: block;
}

.post-thumb{
	width:100%;
}